<style>

.button {
  --background: var(--active);
  --rectangle: #257e93;
  --success: var(--active);
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  -webkit-transition: box-shadow .2s ease, -webkit-transform .2s ease;
  transition: box-shadow .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, box-shadow .2s ease;
  transition: transform .2s ease, box-shadow .2s ease, -webkit-transform .2s ease;
}
.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}
.button ul {
  margin: 0;
  padding: 16px 40px;
  list-style: none;
  text-align: center;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
}
.button ul li:not(:first-child) {
  top: 16px;
  left: 0;
  right: 0;
  position: absolute;
}
.button ul li:nth-child(2) {
  top: 76px;
}
.button ul li:nth-child(3) {
  top: 136px;
}
.button > div {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--rectangle);
}
.button > div:before, .button > div:after {
  content: '';
  display: block;
  position: absolute;
}
.button > div:before {
  border-radius: 1px;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 17px;
  margin: -9px 0 0 -1px;
  background: var(--arrow);
}
.button > div:after {
  width: 60px;
  height: 60px;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  border-radius: 0 0 80% 80%;
  background: var(--success);
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.button > div svg {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -10px;
  fill: none;
  z-index: 1;
  stroke-width: 2px;
  stroke: var(--arrow);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button.loading ul {
  -webkit-animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:before {
  -webkit-animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:after {
  -webkit-animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div svg {
  -webkit-animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
          animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

@-webkit-keyframes text {
  10%,
    85% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  95%,
    100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@keyframes text {
  10%,
    85% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  95%,
    100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}
@-webkit-keyframes line {
  5%,
    10% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75%,
    100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@keyframes line {
  5%,
    10% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  65% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75%,
    100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@-webkit-keyframes svg {
  0%,
    20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%,
    89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%,
    89% {
    opacity: 0;
  }
  90%,
    100% {
    opacity: 1;
  }
}
@keyframes svg {
  0%,
    20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%,
    89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%,
    89% {
    opacity: 0;
  }
  90%,
    100% {
    opacity: 1;
  }
}
@-webkit-keyframes background {
  10% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  40% {
    -webkit-transform: scaleY(0.15);
            transform: scaleY(0.15);
  }
  65% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%,
    100% {
    border-radius: 0;
  }
  75%,
    100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes background {
  10% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  40% {
    -webkit-transform: scaleY(0.15);
            transform: scaleY(0.15);
  }
  65% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%,
    100% {
    border-radius: 0;
  }
  75%,
    100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

div.button_container {
  display: -webkit-box;
  display: flex;
  font-family: 'Roboto', Arial;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 25%;
  position: absolute;
  bottom: 3em;
}
div.button_container .container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}
div.button_container .container > div {
  flex-basis: 100%;
  width: 0;
}
div.button_container .container .button {
  margin: 16px;
}
@media (max-width: 400px) {
  div.button_container .container .button {
    margin: 12px;
  }
}

</style>

<script>

  var old_onload = window.onload;
  window.onload = function() {
    old_onload && old_onload();
    setup_download_button();
  }

  function setup_download_button() {

    button = document.getElementById('download_button');

    let duration = 3000,
    svg = button.querySelector('svg'),
    svgPath = new Proxy({
        y: null,
        smoothing: null
    }, {
        set(target, key, value) {
            target[key] = value;
            if(target.y !== null && target.smoothing !== null) {
                svg.innerHTML = getPath(target.y, target.smoothing, null);
            }
            return true;
        },
        get(target, key) {
            return target[key];
        }
    });

    button.style.setProperty('--duration', duration);

    svgPath.y = 20;
    svgPath.smoothing = 0;

    button.addEventListener('click', e => {

        e.preventDefault();

        if(!button.classList.contains('loading')) {

            button.classList.add('loading');

            fetch(url)
            .then(resp => resp.blob())
            .then(blob => {
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement('a');
              a.style.display = 'none';
              a.href = url;
              // the filename you want
              a.download = "mangala_resume.pdf";
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);
              document.getElementById('downloading_status_label').innerHTML = 'Downloaded';
              document.getElementById('download_status_label').innerHTML = 'Downloaded';
            })
            .catch(() => alert('oh no!'));

            setTimeout(() => {
                svg.innerHTML = getPath(0, 0, [
                    [3, 14],
                    [8, 19],
                    [21, 6]
                ]);

            }, duration / 2);

        }

    });

  };

  function getPoint(point, i, a, smoothing) {
    let cp = (current, previous, next, reverse) => {
            let p = previous || current,
                n = next || current,
                o = {
                    length: Math.sqrt(Math.pow(n[0] - p[0], 2) + Math.pow(n[1] - p[1], 2)),
                    angle: Math.atan2(n[1] - p[1], n[0] - p[0])
                },
                angle = o.angle + (reverse ? Math.PI : 0),
                length = o.length * smoothing;
            return [current[0] + Math.cos(angle) * length, current[1] + Math.sin(angle) * length];
        },
        cps = cp(a[i - 1], a[i - 2], point, false),
        cpe = cp(point, a[i - 1], a[i + 1], true);
    return `C ${cps[0]},${cps[1]} ${cpe[0]},${cpe[1]} ${point[0]},${point[1]}`;
  }

  function getPath(update, smoothing, pointsNew) {
      let points = pointsNew ? pointsNew : [
              [4, 12],
              [12, update],
              [20, 12]
          ],
          d = points.reduce((acc, point, i, a) => i === 0 ? `M ${point[0]},${point[1]}` : `${acc} ${getPoint(point, i, a, smoothing)}`, '');
      return `<path d="${d}" />`;
  }

</script>

<div class="button_container">
  <a href="" class="button" id="download_button">
      <ul>
          <li>Download</li>
          <li id="downloading_status_label">Downloading</li>
          <li id="download_status_label">Downloading</li>
      </ul>
      <div>
          <svg viewBox="0 0 24 24"></svg>
      </div>
  </a>
</div>

<footer>
  <a href="https://tareqdandachi.github.io" class="always_active">Tareq El Dandachi</a> © 2020
</footer>
