header { display: none; }

body { background-color: #fafafa}

div#resume_container {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  direction: ltr;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: -20px;
  margin-right: -20px;
  min-width: 70%;
  max-width: 75%;
  z-index: -5;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div#resume_container::-webkit-scrollbar {
  display: none;
}

canvas {
  width: 100%;
}

@media only screen and (max-width: 980px) {

  div#resume_container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0px;
    margin-top: 50px;
    position: relative;
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 20vh;
  }

}
